:root {
  --primary-bg-dark: #333333;
  --primary-text-dark: #ffffff;
  --primary-bg-light: #ffffff;
  --primary-text-light: #333333;
  --primary: #4b7bec;
  --secondary: #2f3542;
  --purple: #5758BB;
}

$basic: #f1f2f6;
$primary: var(--primary);
$secondary: var(--secondary);
$purple: var(--purple);

$colors: (
    basic: $basic,
    primary: $primary,
    secondary: $secondary,
    purple: $purple
);

$sizes: (
  sm: 30px,
  md: 35px,
  lg: 40px,
  xl: 45px,
);

$sizesToRounded: (
  sm: 4px,
  md: 8px,
  lg: 12px,
  xl: 18px,
  xxl: 24px,
);