@each $key, $color in $colors {
  .button-#{$key} {
    background-color: $color !important;
    transition: 300ms ease-in;

    @if ($key == "primary" or $key == "secondary") {
      color: $basic;
    } @else {
      color: #000;
    }

    &:disabled {
      filter: grayscale(75%);
    }
  }
}

@each $key, $size in $sizesToRounded {
  .button-#{$key}-rounded {
    border-radius: $size !important;
  }
}
