@import "/src/assets/scss/variables.global";

$sizes: (sm: 16px, md: 24px, lg: 32px, xl: 40px, xxl: 48px);

@each $key, $size in $sizes {
    .#{$key} {
        width: $size;
        height: $size;
    }
}

#icon {
    display: flex;
    color: #2f354280;
    border-radius: 25%;
    transition: 300ms ease-in-out;
    cursor: pointer;

    &.theme-dark {
        color: #{$basic}80;
    }

    &.theme-light {
        color: #2f354280;
    }

    &:hover {
        color: $secondary;
        background-color: #{$secondary}20;

        &.theme-dark {
            color: #{$basic}80;
            background-color: #{$basic}20;
        }
    
        &.theme-light {
            color: #{$secondary}80;
            background-color: #{$secondary}20;
        }
    }
}