<section id="about" class="column center-x">
    <div class="about-presentation">
        <app-title title="Sobre Mim" fontSize="2.7rem"></app-title>
        <div class="about-presentation-line" [@rightToLeftAnimation]></div>
        <div class="column" [@topAnimation]="{ value: '', params: { delay: 500 } }">
            <p>Olá, sou Gustavo Souza, um <span class="about-text-griff">Desenvolvimento 
                web</span> e <span class="about-text-griff">Design</span>. Minha paixão por criar experiências digitais 
                excepcionais é o que me motiva todos os dias.</p>

            <p>Imagine um site ou aplicativo que não apenas atenda 
                às suas necessidades, mas que também cativa seus usuários 
                desde o primeiro clique. É isso que busco proporcionar. 
                Com um olhar atento para o design e uma abordagem técnica 
                aprimorada, transformo suas ideias em interfaces intuitivas 
                e visualmente deslumbrantes.</p>

            <p>Estou sempre atualizado com as últimas tendências e 
                tecnologias do setor, o que me permite implementar 
                soluções modernas e eficientes. Cada linha de código que 
                escrevo e cada pixel que ajusto tem um único objetivo: 
                criar uma experiência única e impactante para seu público.</p>
        </div>
    </div>
    
</section>