@import "/src/assets/scss/variables.global";

#about {
    width: 100%;
    position: relative;

    .about-presentation {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 2rem 1rem;

        .title {
            font-size: 4rem;
            background: linear-gradient(45deg, #5758BB, #4b7bec, #2196f3);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            display: flex;
            align-items: flex-end;

            .about-presentation-point {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: rgb(87, 95, 207);
                margin: 12px 5px;
            }
        }

        .about-presentation-line {
            width: 136px;
            height: 4px;
            background-color: rgb(87, 95, 207);
            margin: 40px 0;
        }

        p {
            font-size: 1.3rem;
            color: #30285e;
            letter-spacing: 1.3px;

            .about-text-griff {
                color: $primary;
                font-weight: bold;
                border-bottom: 2px solid $primary;
            }
        }
    }

    

    .about-scroll-interation {
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'Inter', sans-serif;

        & .scroll-letter {
            display: inline-block;
            transform-origin: 50% 50%;
            animation: wave 4500ms infinite steps(2);
            animation-timing-function: linear;

           
        }
    }

    @keyframes wave {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-10px);
        }
        100% {
          transform: translateY(0);
        }
      }
}