@import "./devices/home.mobile.scss";
    
@import "./devices/home.desktop.scss";

#home {
    width: 100%;
    height: calc(100vh - 70px);

    
    @media screen and (max-width: 944px) {
        @include mobile;
    }

    @media screen and (min-width: 944px) {
        @include desktop;
    }
    
    @keyframes backgroundSlade {
        0% {
            opacity: 0;
            background-position: center 0vh;
        }
        100% {
            opacity: 1;
            background-position: center -5vh;
        }
    }

    @keyframes backgroundAnimation {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 400% 0;
        }
      }
}