#home {
    width: 100%;
    height: calc(100vh - 70px);

    .home-presentation-iam {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        z-index: 3;

        .home-button {
            width: 60%;
            max-width: 130px;
            margin: 2rem auto 0;
        }
    }

    @keyframes backgroundSlade {
        0% {
            opacity: 0;
            background-position: center 0vh;
        }
        100% {
            opacity: 1;
            background-position: center -5vh;
        }
    }

    @keyframes backgroundAnimation {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 400% 0;
        }
      }
}