<section id="home" class="column center-x">
  <div class="home-presentation center-y">
    <div class="home-presentation-iam column center-x">
      <typing-animation
        [phrase]="'Gustavo Souza'"
        [styleCustom]="nameStyleCustom"
        [float]="'center'"
        (finishAnimation)="showButton = $event"
      ></typing-animation>
      <typing-animation
        [phrase]="'Desenvolvedor Web e Designer'"
        [styleCustom]="descriptionStyleCustom"
        [delay]="400"
        [float]="'center'"
      ></typing-animation>
      <button
        class="button button-primary button-sm-redounded home-button"
        [@buttonAnimation]="showButton"
        (click)="to('/contact')"
      >
        CONTATO
      </button>
    </div>

   
    <!--img src="assets/images/IMG-20190625-WA0027.jpg" class="home-img" alt=""-->
  </div>
</section>
