@import "/src/assets/scss/variables.global";

// Devices
@import "./devices/menu.mobile.scss";
@import "./devices/menu.desktop.scss";

#app-menu {
    width: 100%;
    height: 100vh;

    .app-menu-header {
        height: 70px;
        border-bottom: 1px solid #b3b3b330; 

        span.logo {
            color: $primary;
            font-weight: bold;
            font-size: 1.5rem;
            font-family: "Raleway", sans-serif;
            z-index: 5;
        }

        @media screen and (max-width: 600px) {
            @include menu-mobile;
        }

        @media screen and (min-width: 944px) {
            @include menu-desktop;
        }
    }
    
    .app-menu-content {
        height: calc(100vh - 70px);
        overflow-y: auto;
    }
}